.ApplicantTable {
  display: grid;
  grid-template-columns:
    minmax(250px, 1fr)
    repeat(5, minmax(100px, 1fr));
  grid-row-gap: 1em;
  align-items: center;
}

.ApplicantTable .ApplicantTable-Header-cell,
.ApplicantTable .ApplicantTable-cell {
  padding: 0 1em;
}

.ApplicantTable-row {
  display: contents;
}


.ApplicantTable-Header-cell {
  color: #666;
  font-weight: lighter;
  font-size: 0.9em;
}

.ApplicantTable-cell {
  background-color: #FFFFFF;

  display: flex;
  flex-flow: column;
  justify-content: center;

  height: 5em;
}

.ApplicantTable-row:hover > .ApplicantTable-cell {
  cursor: pointer;
  background-color: rgb(189, 186, 252);
}

.ApplicantTable-cell.centered {
  align-items: center;
}


.ApplicantTable-email {
  color: #666;
  font-weight: lighter;
  font-size: 0.95em;
}
