.CandidateSummary {}

.CandidateSummary-header {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) auto;
  grid-template-rows: auto;

  grid-gap: 0.5em;
}

.text-right {
  text-align: right;
}

.CandidateSummary-list-heading {
  font-size: 1.25em;
  font-weight: bold;

  text-align: center;
  margin: 1em;
}

.CandidateSummary-phone {
  display: flex;
  justify-content: space-between;
}
